In [4]:
import pandas as pd

In [5]:
df=pd.read_csv(r"D:\Data centr\Exel_data\own data\insur.csv")

In [6]:
df

   s.no  age  premium
0     0   25    18000
1     1   30    32000
2     2   35    40000
3     3   40    47000
4     4   45    55000

In [7]:
x=df['age']

In [8]:
y=df['premium']

In [9]:
x

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [10]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [13]:
x_train

0    25
2    35
3    40
4    45
Name: age, dtype: int64

In [14]:
x_test

1    30
Name: age, dtype: int64

In [15]:
y_train

0    18000
2    40000
3    47000
4    55000
Name: premium, dtype: int64

In [16]:
y_test

1    32000
Name: premium, dtype: int64

In [17]:
len(x_train)

4